<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">wosome</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="collapsedMenu = !collapsedMenu" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="collapsedMenu" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/learn">Learn</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/auth">Platform</a>
      </li>
    </ul>
  </div>

</nav>
